JavaAlgorithm/.idea
JavaAlgorithm/target
JavaAlgorithm/out
GolangAlgorithm/.idea
GolangAlgorithm/pkg
GolangAlgorithm/bin
JavascriptAlgorithm/node_modules
Cpp/Algorithm/x64
Cpp/Syntax/x64
Cpp/UnitTest/x64
Cpp/x64/
Cpp/packages/
Cpp/.vs/